.lift-ups {
  top: -6rem;
  @include make-sm-column(10);
  @include make-sm-column-offset(1);
  @include make-md-column(8);
  @include make-md-column-offset(2);

  .lift-ups__row {
    @extend .row;

    .lift-ups__column {
      @include make-sm-column(6);
      margin-bottom: 1.5rem;

      .lift-ups__column-content {
        padding: 1.5rem;
        border-radius: 0.5rem;
        background-color: $brand-blue;
        text-align: center;

        > h3 {
          text-align: center;
          color: #FFF;
          @media screen and (min-width: $screen-sm-min){
            min-height: 6rem;
          }
        }

        > img {
          display: block;
          margin: 0 auto 2rem auto;
        }
      }
    }
  }
}

.logos {
  @extend .container;

  .logos__row {
    @extend .row;

    .logos__column {
      @include make-sm-column(12);

      .logos__column-content {
        background-color: #FFF;
        padding: 1.5rem;
        margin: 1.5rem 0;
        border-radius: 0.5rem;
        box-shadow: 0.1rem 0.1rem 0.8rem #888888;
      }
    }
  }
}