.dropdown-menu {
  min-width: 100%;
}

.navlinks {
  float: right;
  padding: 1.5rem;
  color: $brand-nav-font-color;
  font-size: 1.4rem;

  .navlinks__main-link {
    color: $brand-orange;
  }

  .navlinks__lang-link {
    color: $brand-nav-font-color;
  }
}

.nav-logo {
  width: auto;
  height: 4.2rem;

  @media screen and (min-width: $screen-md-min) {
    width: 99px;
    height: 73px;
  }
}

.navbar-dropshadow {
  @extend .navbar-default;
  box-shadow: 0.1rem 0.1rem 0.8rem #888888;
}

.navbar-header {
  width: 100%;
}

.navbar-brand {
  padding: 0.4rem 1.5rem;
}

.nav-logo-tagline {
  display: none;
  color: $brand-nav-font-color;
  float: left;
  text-transform: uppercase;
  margin-top: 1.2rem;
  line-height: 120%;
  font-size: 1.2rem;

  @media screen and (min-width: $screen-sm-min){
    display: block;
  }

  @media screen and (min-width: $screen-md-min) {
    margin-top: 3rem;
    font-size: 1.4rem;
  }
}


/**
 * Actual menu..
 */
.navbar-dropshadow {
  .navbar-nav {
    margin-bottom: 0.3rem;

    > li {

      &.current-menu-item {
        > a {
          background-color: $brand-blue;
          color: #FFF;

          &:hover, &:focus, &:active {
            background-color: $brand-blue;
          }
        }
      }

      > a {

        &:hover, &:focus, &:active {
          background-color: #e7e7e7;
        }
        @media screen and (min-width: $grid-float-breakpoint) {
          padding: 0.5rem 1.1rem;
          border-radius: 1rem;
          margin: 0 0.1rem;
        }
      }
    }
  }
}

.expand-more-icon {
  @media screen and (min-width: $grid-float-breakpoint) {
    display: none;
  }

  &:after {
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 2.5rem;
    content: '\F13A';
    font-family: fontAwesome;
    font-size: 1.4rem;
    color: $brand-blue;
  }
}